body {
    overflow: hidden;
}
.wraptocenter {
    margin: 10 0 0 0 auto;
    display: table-cell;
    text-align: center;
}

#logo {
    margin:auto;
    width: 250px;
    height: auto;
}

.nav {
    text-align: right;
    float: right;
    width: 100%;
    padding-bottom: 100px;
    
}

.nav li {
    display: inline;
}

.nav li a {
    padding: 5px 8px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.searchbar {
    text-align: center;
}

.buttons {
    text-align: center;
    padding: 20px 2px 0px 2px;
}

.button {
    text-decoration: none;
	display: inline;
	background-color: #f5f5f5;
	color: #444;
	margin-right: 10px;
	border-radius: 5%;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px;
	border: 1px solid #dcdcdc;
    
}

footer {
    position: absolute;
    border-top: 1px solid #e4e4e4;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    line-height: 10px;
    background: #f2f2f2;
    
}
    

.leftfooter {
    float: left;
}

.leftfooter li {
    display: inline;
    padding: 0 15px 0 5px;
}

.leftfooter li a{
    font-family: "Arial", sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.rightfooter {
    float:right;
    margin: 0;
    margin-right: 20px;
}

.rightfooter li {
    display: inline;
    padding: 0 10px 0 5px;
}

.rightfooter li a{
    font-family: "Arial", sans-serif;
    font-size: 13px;
    text-decoration: none;
}
